<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Company Name</th>
    </tr>
  </thead>
  <tbody>
    <% companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
